{% extends "base.html" %}
{% block content %}
<h1>Change contract address</h1>
<form autocomplete="off" action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.contract_address.label }}<br>
        {{ form.contract_address(size=50, style="margin-bottom: 10px; margin-top: 2px; padding: 2px;") }}<br>
        {% for error in form.contract_address.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}