{% extends "base.html" %}
{% block content %}
<h1>Sign In</h1>
<form autocomplete="off" action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    {% for field in form if field.id != 'csrf_token' %}
    {% if field.id != 'submit' %}
    {{ field.label }} <br>
    {% endif %}
    {% if field.id != 'submit' %}
    {{ field(size=50, class="auth_txt") }}
    {% endif %}
    {% if field.id == 'submit' %}
    {{ field }}
    {% endif %}
    {% for error in field.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    <br />
    {% endfor %}
</form>
{% endblock %}