<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}">

    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Blockchain</title>
    {% endif %}
</head>

<body>
    <div class="wrapper">
        <header>
            <div><p id="title">Blockchain</p></div>
            {% if addr %}
            <div><a target="_blank" id="hhref" href="https://ropsten.etherscan.io/address/{{addr}}">Etherscan</a></div>
            {% endif %}
            <div><a id="hhref" href="/index">Home</a></div>
            <div><a id="hhref" href="/menu">Menu</a></div>
            <div><a id="hhref" href="/logout">Logout</a></div>
        </header>
        <main>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }} </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </main>
        <!-- <footer>PODVAL</footer> -->
    </div>
</body>

</html>