{% extends "base.html" %}
{% block content %}
<h2>Menu</h2><br>
<div><a href="/change_address">Change contract address</a></div><br>
<h3>Requests</h3>
<ul class="menu">
    <li><a href="/requests/new_home">New home request</a></li>
    <li><a href="/requests/edit_home">Edit home request</a></li>
    <li><a href="/requests/add_owner">Add owner request</a></li>
    <li><a href="/requests/get_list">Get requests list</a></li>
    <li><a href="/requests/process">Process request</a></li>
</ul><br>
<h3>Methods</h3>
<ul class="menu">
    <li><a href="/methods/homes/add">Add home</a></li>
    <li><a href="/methods/homes/get">Get home</a></li>
    <li><a href="/methods/homes/get_list">Get home list</a></li>
    <li><a href="/methods/ownership/add">Add ownership</a></li>
    <li><a href="/methods/ownership/get">Get ownership</a></li>
    <li><a href="/methods/employees/add">Add employee</a></li>
    <li><a href="/methods/employees/get">Get employee</a></li>
    <li><a href="/methods/employees/edit">Edit employee</a></li>
    <li><a href="/methods/employees/delete">Delete employee</a></li>
    <li><a href="/methods/transact/get_price">Get price</a></li>

</ul>
{% endblock %}