{% extends "base.html" %}
{% block content %}
<h2>Menu</h2><br>
<div><a href="/change_address">Change contract address</a></div><br>
<h3>Requests</h3>
<div style="margin-top: 3px;" class="menu">
    <p><a href="/requests/new_home">New home request</a></p>
    <p><a href="/requests/edit_home">Edit home request</a></p>
    <p><a href="/requests/add_owner">Add owner request</a></p>
    <p><a href="/requests/get_list">Get requests list</a></p>
    <p><a href="/requests/process">Process request</a></p>
</div><br>
<h3>Methods</h3>
<div style="margin-left: 5px;">
    <h4 style="margin-top: 15px;">Homes</h4>
    <div style="margin-top: 3px; margin-left: 5px;" class="menu">
        <p><a href="/methods/homes/add">Add home</a></p>
        <p><a href="/methods/homes/get">Get home</a></p>
        <p><a href="/methods/homes/get_list">Get home list</a></p>
    </div>
    <h4 style="margin-top: 15px;">Ownerships</h4>
    <div style="margin-top: 3px; margin-left: 5px;" class="menu">
        <p><a href="/methods/ownership/add">Add ownership</a></p>
        <p><a href="/methods/ownership/get">Get ownership</a></p>
    </div>
    <h4 style="margin-top: 15px;">Employees</h4>
    <div style="margin-top: 3px; margin-left: 5px;" class="menu">
        <p><a href="/methods/employees/add">Add employee</a></p>
        <p><a href="/methods/employees/get">Get employee</a></p>
        <p><a href="/methods/employees/edit">Edit employee</a></p>
        <p><a href="/methods/employees/delete">Delete employee</a></p>
    </div>
    <p style="margin-top: 15px;"><a href="/methods/transact/get_price">Get price</a></p>
</div>
{% endblock %}