{% extends "base.html" %}
{% block content %}
<h1>{{ mode }}</h1>
<form autocomplete="off" action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    {% for field in form if field.id != 'csrf_token' %}
    {% if field.id != 'submit' %}
    {{ field.label }} <br>
    {% endif %}
    {{ field(size=50, style="margin-bottom: 10px; padding: 2px;") }}
    {% for error in field.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    <br />
    {% endfor %}
</form>
{% endblock %}